.courseContainer {
  width: 100%;
}

.courseHeader {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.courseLink {
  display: inline-block;
  font-weight: 700;
  color: #2a363b;   
}

.courseLink:hover,  
.courseLink:focus,
.courseLink:active {
  color: #0d30f5;
}

.courseWrapper {
  display: flex;
}

.courseList {
  display: block;
  width: 200px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
}

.link {
  display: inline-block;
  width: 100%;
  padding: 10px 16px;
  font-weight: 500;
  color: #2a363b;   
}

.link:hover,  
.link:focus,
.link:active {
  color: #0d30f5;
  background-color: beige;
}