.bonusWrapper {
    min-height: calc(100vh - 50px);
    padding: 30px;
}

  .bonusTitle {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    /* margin-bottom: 15px; */
  }
  
  .bonusNav {
      display: flex;
      align-items: center;
      gap: 40px;
      padding: 20px;
  }
  
  .bonusLink {
    display: inline-block;
    width: fit-content;
    height: 40px;
    padding: 10px;
    font-weight: 600;
    color: #000000;   
  }
  
  .bonusLink:hover,  
  .bonusLink:focus,
  .bonusLink:active {
    background-color: beige;
  }
