/* .bonusContainer {
    width: 100%;
  } */

  .bonusTitle {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    /* margin-bottom: 15px; */
  }
  
  .bonusNav {
      display: flex;
      align-items: center;
      gap: 40px;
      padding: 20px;
  }
  
  .bonusLink {
    display: inline-block;
    font-weight: 700;
    color: #2a363b;   
  }
  
  .bonusLink:hover,  
  .bonusLink:focus,
  .bonusLink:active {
    color: #0d30f5;
  }