.lessonWrapper {
    display: block;
    width: 100%;
    padding: 40px;
}

.link {
    display: inline-block;
    font-weight: 700;
    color: #2a363b; 
  }
  
.link:hover,  
.link:focus,
.link:active {
    color: #0d30f5;
  }