.headerLearn {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.link {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 700;
    color: #2a363b; 
  }
  
.link:hover,  
.link:focus,
.link:active {
    color: #0d30f5;
  }