.lessonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* .lessonWrapper {
    display: block;
    width: 100%;
    padding: 40px;
} */

.link {
    display: inline-block;
    font-weight: 700;
    color: #2a363b; 
  }
  
.link:hover,  
.link:focus,
.link:active {
    color: #0d30f5;
  }

.error {
  display: block;
  width: 100%;
  padding: 40px;
  text-align: center;
}