.container {
    /* display: block;
    position: absolute;
    right: 20%; */
    width: 250px;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
}

/* .wrapper {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: rgba(218, 218, 57, 0.486);
  } */

.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2a363b;   
  }
  
.link:hover,  
.link:focus,
.link:active {
    color: #0d30f5;
  }