.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo {
  display: inline-block;
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  color: #2a363b;   
}
  
  .office {
    position: relative;
  }

  .button {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 0 20px;
    width: auto;
    height: 50px;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(16/14);
    overflow: hidden;
    outline: none;
    cursor: pointer;
    color: #000000;
    background-color: rgb(255, 255, 0);
  }
  
  .button:hover,
  .button:focus {
    color: #0d30f5;
  }