h1 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #777;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px; 
}

.containerBonus {
    padding: 70px;
}

.num {
    color: #2702fc;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    line-height: 1.5;
}

tr {
    height: 70px;
}

th {
    color: #000000;
}

td, th {
    border: 1px solid #cfcccc;
    padding: 10px;
}

/* td {
    font-weight: 500;
    color: #555;
} */

td:nth-child(1) {
    width: 200px;
}

td:nth-child(2) {
    width: 200px;
    font-weight: 500;
    color: #555;
}

td:nth-child(3) {
    width: 200px;
}

td:nth-child(4) {
    width: 200px;
}